// Here you can easily change your sites's color scheme.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works.
// If you need a handy color picker try http://hslpicker.com

//$header-bg: #263347;
//$subtitle-color: lighten($header-bg, 58);
//$nav-bg: desaturate(lighten(#8fc17a, 18), 5);
//$nav-bg-front: image-url('noise.png');
//$nav-bg-back: linear-gradient(lighten($nav-bg, 8), $nav-bg, darken($nav-bg, 11));
//$sidebar-bg: desaturate(#eceff5, 8);
//$sidebar-link-color: saturate(#526f9a, 10);
//$sidebar-link-color-hover: darken(#7ab662, 9);
//$footer-bg: #ccc !default;
//$footer-bg-front: image-url('noise.png');
//$footer-bg-back: linear-gradient(lighten($footer-bg, 8), $footer-bg, darken($footer-bg, 11));


/* To use the light Solarized highlighting theme uncomment the following line */
$solarized: light;

/* If you want to tweak the Solarized colors you can do that here 
$base3:          #002b36; //darkest blue
$base2:          #073642; //dark blue
$base1:          #586e75; //darkest gray
$base0:          #657b83; //dark gray
$base00:           #839496; //medium gray
$base01:           #93a1a1; //medium light gray
$base02:           #f8f8f8; //cream
$base03:           #f8f8f8; //white
$solar-yellow:    #b58900;
$solar-orange:    #cb4b16;
$solar-red:       #dd1144;
$solar-magenta:   #d33682;
$solar-violet:    #990073;
$solar-blue:      #000000;
$solar-cyan:      #008080;
$solar-green:     #008080;
*/

// $base03:          #000000; //darkest blue
// $base02:          #282A2E; //dark blue
// $base01:          #969896; //darkest gray
// $base00:          #C5C8C6; //dark gray
// $base0:           #969896; //medium gray
// $base1:           #FFCC33; // operator orange/yellow
// $base2:           #969896; //cream
// $base3:           #C5C8C6; //white
// $solar-yellow:    #FFFF00; // bright yellow (clasess?)
// $solar-orange:    #FFFFFF; // white for keywords 
// $solar-red:       #CC6666; // !!unused?
// $solar-magenta:   #009BFF; // darker blue for types
// $solar-violet:    #B294BB;
// $solar-blue:      #009BFF; // darker blue for variables
// $solar-cyan:      #00B9FF; // !!lighter (unused?)
// $solar-green:     #C2B56E; // brown string/keyword


/* Non highlighted code colors */
//$pre-bg: $base03;
//$pre-border: darken($base02, 5);
//$pre-color: $base1;
