// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
html {
background: #f2f2f2;
}
.about-me {
          overflow: hidden;
          float: none;
}
.about-me .about-text {
          width: 65%;	
          float: left;
}
.about-me .gravatar {
          width: 35%;	
          float: right;
}

.enforcedscore {
          //background-color: #F5A9A9;
          color: green;
}
.lower-score {
          //background-color: #81F781;
          color: green;
}
.langtable {
    border-collapse: collapse;
    max-width: 100%;
    width: 100%;
}

.tablecode{
    font-family: "Courier New", Courier, monospace;
    font-size: 0.8em;
}

.langtable td {
    border: 1px solid grey;
    text-align: left;
    padding: 3px;

    font-size: 0.8em;
}
.widetextarea {
    width: 100%;     
}
.tdname {
  width:150px; 
  max-width:150px;
  min-width:150px; 
}

.langtable th, .totals {
    border: 1px solid grey;
    text-align: left;
    padding: 3px;
    background: grey;
    color: white;
    font-size: 0.9em;
}