// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
html {
background: #f2f2f2;
}
.about-me {
          overflow: hidden;
          float: none;
}
.about-me .about-text {
          width: 65%;	
          float: left;
}
.about-me .gravatar {
          width: 35%;	
          float: right;
}

.enforcedscore {
          //background-color: #F5A9A9;
          color: green;
}
.lower-score {
          //background-color: #81F781;
          color: green;
}
.langtable {
    border-collapse: collapse;
    max-width: 100%;
    width: 100%;
}

.tablecode{
    font-family: "Courier New", Courier, monospace;
    font-size: 0.8em;
}

td.tdname {
  width:150px; 
  max-width:150px;
  min-width:150px; 
  font-size: 0.7em !important;
  line-height: 150%;
}

.langtable td {
    border: 1px solid grey;
    text-align: left;
    padding-right: 3px;
    padding-left: 3px;
    font-size: 0.8em;
}
.widetextarea {
    width: 100%;     
}

.langtable th, .totals {
    border: 1px solid grey;
    text-align: left;
    padding-right: 3px;
    padding-left: 3px;
    background: grey;
    color: white;
    font-size: 0.9em;
}

.bookclass {
    border:1px solid #222 !important;
}
header {
    text-align: center !important;
}
.search {
    background-color: white !important; 
}

article header {
    font-size: .75em !important;
}
@media only screen and (max-width: 480px){
    article header {
        padding: .5em !important;
        margin: .5em !important;
        font-size: .5em !important;
        line-height: .5em !important;
    }
    .emailImage{
        height:auto !important;
        max-width:600px !important;
        width: 100% !important;
    }
}